In [40]:
import os

import pandas as pd

In [41]:
SUPPLEMENTAL_DATA_DIR = os.path.expanduser("~/Desktop/Forny_2023_data")

SUPPLEMENTAL_DATA_FILES = {
    "transcriptomics_and_proteomics" : "42255_2022_720_MOESM3_ESM.xlsx",
    "phenotypes" : "42255_2022_720_MOESM4_ESM.xlsx",
    "rnaseq_mouse" : "42255_2022_720_MOESM5_ESM.xlsx",
    "metabolomics" : "42255_2022_720_MOESM6_ESM.xlsx"
}

In [42]:
supplemental_data_path = {
    x : os.path.join(SUPPLEMENTAL_DATA_DIR, y) for x, y in SUPPLEMENTAL_DATA_FILES.items()
}

assert all([os.path.isfile(x) for x in supplemental_data_path.values()])

supplemental_data = {
    x : pd.read_excel(y) for x, y in supplemental_data_path.items()
}

In [43]:
supplemental_data["transcriptomics_and_proteomics"].head()

,Unnamed: 0,MMA001,MMA002,MMA003,MMA004,MMA005,MMA006,MMA007,MMA008,MMA009,...,MMA220,MMA222,MMA223,MMA224,MMA225,MMA226,MMA227,MMA228,MMA229,MMA230
0,ENSG00000187634,1.873615,1.505270,0.986076,1.123403,5.806861,1.431328,1.251731,9.403244,1.353007,...,12.565674,5.229523,6.640500,3.129463,1.731466,1.518375,1.121370,1.922590,3.458497,0.989769
1,ENSG00000188976,13.627592,7.954398,7.072510,7.722724,11.079538,6.171506,6.466709,12.337651,11.094306,...,17.705565,9.782707,9.526287,7.936750,6.794779,8.044985,7.041855,8.283558,11.754802,7.057638
2,ENSG00000187961,1.037994,0.552903,0.436914,0.738782,1.691288,0.438173,0.606665,0.985185,1.486020,...,0.839992,0.810122,0.458880,0.343265,0.510889,0.270509,0.218708,0.439597,0.429895,0.604521
3,ENSG00000187583,0.698824,0.041128,0.024047,0.061751,0.238684,0.037082,0.019218,0.483886,0.058053,...,0.862213,0.126554,0.429522,0.041436,0.042376,0.000000,0.076661,0.000000,0.012485,0.014054
4,ENSG00000187642,0.166474,0.403885,0.033554,0.083613,0.069547,0.042103,0.041908,0.117374,0.019715,...,0.185598,0.027146,0.098651,0.000000,0.026749,0.000000,0.011748,0.000000,0.000000,0.023950

In [44]:
supplemental_data["phenotypes"].head()

,Unnamed: 0,case,gender,n_passage,date_collection,date_freezing,consanguinity,onset_age,OHCblMinus,OHCblPlus,...,cssModif,irritability,hyperventilation,hypothermia,somnolence,vomiting,dehydration,feeding_problem,GFR,responsive_to_acute_treatment
0,MMA001,1,1,3.0,2001,2001,0,28.0,256.0,468.0,...,1,0,0,0,0,0,0,0,NaN,1
1,MMA002,1,1,3.0,2001,2001,1,1.0,1610.0,1544.0,...,2,0,0,0,0,0,1,1,NaN,0
2,MMA003,1,1,7.0,1991,1996,1,3.0,101.0,76.0,...,2,0,1,1,0,0,1,0,NaN,0
3,MMA004,1,0,5.0,1995,1996,0,3.0,220.0,219.0,...,2,0,0,0,0,0,0,0,NaN,1
4,MMA005,1,0,3.0,1995,1996,0,1.0,1830.0,1968.0,...,1,0,0,0,0,0,0,0,NaN,0

In [45]:
supplemental_data["rnaseq_mouse"].head()

,Identifier,gene_name,transcript_id,type,width,gc,GO BP,GO CC,GO MF,isPresent,...,16_GT150303brain [normalized count],21_GT150402brain [normalized count],2_GT150303brain [FPKM],4_GT150303brain [FPKM],5_GT150303brain [FPKM],7_GT150303brain [FPKM],12_GT150303brain [FPKM],15_GT150303brain [FPKM],16_GT150303brain [FPKM],21_GT150402brain [FPKM]
0,ENSMUSG00000023921,Mut,ENSMUST00000169611,protein_coding,3680,0.420,GO:0008152; GO:0009791; GO:0050667,GO:0005739,GO:0003824; GO:0004494; GO:0016853; GO:0016866...,True,...,414.3,419.0,12.57,11.610,11.57,12.240,7.165,7.494,5.605,5.489
1,ENSMUSG00000042613,Pbxip1,ENSMUST00000146630; ENSMUST00000145753; ENSMUS...,protein_coding,1430,0.574,GO:0008150; GO:0045892,GO:0005634; GO:0005856; GO:0005874,GO:0003674,True,...,929.7,1080.0,56.31,54.020,52.96,59.500,34.330,41.830,32.370,36.400
2,ENSMUSG00000090015,Gm15446,ENSMUST00000146564; ENSMUST00000170826; ENSMUS...,protein_coding,1390,0.397,GO:0008150,GO:0005575,GO:0003674; GO:0046872,True,...,654.3,774.6,21.24,11.820,14.45,11.350,27.960,26.010,23.440,26.860
3,ENSMUSG00000059824,Dbp,ENSMUST00000107741; ENSMUST00000123587; ENSMUS...,protein_coding,1210,0.569,GO:0006351; GO:0006355; GO:0007623; GO:0045944...,GO:0005634,GO:0000977; GO:0001077; GO:0003677; GO:0003700...,True,...,1044.0,983.1,51.69,60.360,62.29,54.130,41.470,44.810,42.970,39.160
4,ENSMUSG00000029822,Osbpl3,ENSMUST00000114466; ENSMUST00000136926; ENSMUS...,protein_coding,2390,0.513,GO:0006810; GO:0006869; GO:0008150,GO:0005829; GO:0005886; GO:0031965; GO:0097038,GO:0008289; GO:0015485,True,...,640.9,789.7,11.74,9.721,12.34,9.367,16.950,15.640,13.350,15.930

In [46]:
supplemental_data["metabolomics"].head()

,Unnamed: 0,ionIdx,ionMz,005 / E1 M10-2,006 / E1 M10-2,011 / E1 C5-2,012 / E1 C5-2,015 / E1 C4-3,016 / E1 C4-3,019 / E1 M4-4,...,100 / E2 C8-2,101 / E2 M3-3,102 / E2 M3-3,105 / E2 M3-4,106 / E2 M3-4,111 / E2 C10-4,112 / E2 C10-4,127 / E2 M1-3,128 / E2 M1-3,label
0,1,1,59.0138,278412,279885,285586,279137,283209,282655,259072,...,427914,377490,364380,324865,328665,443150,437885,367362,370751,Acetatic acid
1,2,2,59.0501,15090,14967,17296,17208,14155,14708,14557,...,13053,15981,15889,14714,15961,13998,16909,13421,14745,Propanol
2,3,3,67.0189,5012,5019,4660,5180,4752,5054,4724,...,6132,4606,4115,4078,3359,4816,5638,4715,4708,Butynal
3,4,4,68.0505,1101,1250,1573,1459,1723,1412,1906,...,1567,1666,1445,1280,1369,1634,1781,1659,1381,1-Pyrrolinium
4,5,5,69.0344,11213,12063,9631,9875,10149,10708,11944,...,12796,10947,10980,10923,9793,13556,12694,11804,12379,Butynol